.embla {
  position: relative;
  width: 100%;
  height: 100%;
}

.embla__container {
  display: flex;
  height: 100%;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 